# Java
target/
.env
.env.*
!.env.example
.idea/
.vscode/
HELP.md
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.iws
*.iml
*.ipr
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
*.log

# Spring Boot specific
src/main/resources/application-prod.yml
src/main/resources/application-staging.yml
src/main/resources/application-local.yml

# General
.DS_Store
.env
.vscode/
.idea/
